<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="motifa">
      <h2 data-cy="motifaDetailsHeading"><span jhiTranslate="departdbApp.motifa.detail.title">Motifa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ motifa.id }}</span>
        </dd>
        <dt><span jhiTranslate="departdbApp.motifa.decmotif">Decmotif</span></dt>
        <dd>
          <span>{{ motifa.decmotif }}</span>
        </dd>
        <dt><span jhiTranslate="departdbApp.motifa.libmotif">Libmotif</span></dt>
        <dd>
          <span>{{ motifa.libmotif }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/motifa', motifa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
