<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-periode-heading" data-cy="PeriodeCreateUpdateHeading" jhiTranslate="departdbApp.periode.home.createOrEditLabel">
        Create or edit a Periode
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.periode.decoper" for="field_decoper">Decoper</label>
          <input type="text" class="form-control" name="decoper" id="field_decoper" data-cy="decoper" formControlName="decoper" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.periode.denoper" for="field_denoper">Denoper</label>
          <input type="text" class="form-control" name="denoper" id="field_denoper" data-cy="denoper" formControlName="denoper" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.periode.primaire" for="field_primaire">Primaire</label>
          <input type="text" class="form-control" name="primaire" id="field_primaire" data-cy="primaire" formControlName="primaire" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.periode.startdate" for="field_startdate">Startdate</label>
          <input type="text" class="form-control" name="startdate" id="field_startdate" data-cy="startdate" formControlName="startdate" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.periode.enddate" for="field_enddate">Enddate</label>
          <input type="text" class="form-control" name="enddate" id="field_enddate" data-cy="enddate" formControlName="enddate" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
