<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="centVehic">
      <h2 data-cy="centVehicDetailsHeading"><span jhiTranslate="departdbApp.centVehic.detail.title">Cent Vehic</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ centVehic.id }}</span>
        </dd>
        <dt><span jhiTranslate="departdbApp.centVehic.cdmac">Cdmac</span></dt>
        <dd>
          <span>{{ centVehic.cdmac }}</span>
        </dd>
        <dt><span jhiTranslate="departdbApp.centVehic.dateff">Dateff</span></dt>
        <dd>
          <span>{{ centVehic.dateff | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="departdbApp.centVehic.deccent">Deccent</span></dt>
        <dd>
          <span>{{ centVehic.deccent }}</span>
        </dd>
        <dt><span jhiTranslate="departdbApp.centVehic.decagenc">Decagenc</span></dt>
        <dd>
          <span>{{ centVehic.decagenc }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cent-vehic', centVehic.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
