<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-station-heading" data-cy="StationCreateUpdateHeading" jhiTranslate="departdbApp.station.home.createOrEditLabel">
        Create or edit a Station
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.station.decstat" for="field_decstat">Decstat</label>
          <input type="text" class="form-control" name="decstat" id="field_decstat" data-cy="decstat" formControlName="decstat" />
          <div *ngIf="editForm.get('decstat')!.invalid && (editForm.get('decstat')!.dirty || editForm.get('decstat')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('decstat')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.station.dectyst" for="field_dectyst">Dectyst</label>
          <input type="text" class="form-control" name="dectyst" id="field_dectyst" data-cy="dectyst" formControlName="dectyst" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.station.decrout" for="field_decrout">Decrout</label>
          <input type="text" class="form-control" name="decrout" id="field_decrout" data-cy="decrout" formControlName="decrout" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.station.delstat" for="field_delstat">Delstat</label>
          <input type="text" class="form-control" name="delstat" id="field_delstat" data-cy="delstat" formControlName="delstat" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.station.delstatfr" for="field_delstatfr">Delstatfr</label>
          <input type="text" class="form-control" name="delstatfr" id="field_delstatfr" data-cy="delstatfr" formControlName="delstatfr" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.station.lattitude" for="field_lattitude">Lattitude</label>
          <input type="text" class="form-control" name="lattitude" id="field_lattitude" data-cy="lattitude" formControlName="lattitude" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.station.longitude" for="field_longitude">Longitude</label>
          <input type="text" class="form-control" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.station.valide" for="field_valide">Valide</label>
          <input type="text" class="form-control" name="valide" id="field_valide" data-cy="valide" formControlName="valide" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
