<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-fonc-agent-heading" data-cy="FoncAgentCreateUpdateHeading" jhiTranslate="departdbApp.foncAgent.home.createOrEditLabel">
        Create or edit a Fonc Agent
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.foncAgent.cdfonc" for="field_cdfonc">Cdfonc</label>
          <input type="text" class="form-control" name="cdfonc" id="field_cdfonc" data-cy="cdfonc" formControlName="cdfonc" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.foncAgent.matric" for="field_matric">Matric</label>
          <input type="number" class="form-control" name="matric" id="field_matric" data-cy="matric" formControlName="matric" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.foncAgent.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.foncAgent.prenom" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.foncAgent.dateff" for="field_dateff">Dateff</label>
          <div class="input-group">
            <input
              id="field_dateff"
              data-cy="dateff"
              type="text"
              class="form-control"
              name="dateff"
              ngbDatepicker
              #dateffDp="ngbDatepicker"
              formControlName="dateff"
            />
            <button type="button" class="btn btn-secondary" (click)="dateffDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="departdbApp.foncAgent.valide" for="field_valide">Valide</label>
          <input type="text" class="form-control" name="valide" id="field_valide" data-cy="valide" formControlName="valide" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
