<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="rhAgent">
      <h2 data-cy="rhAgentDetailsHeading"><span jhiTranslate="departdbApp.rhAgent.detail.title">Rh Agent</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ rhAgent.id }}</span>
        </dd>
        <dt><span jhiTranslate="departdbApp.rhAgent.matric">Matric</span></dt>
        <dd>
          <span>{{ rhAgent.matric }}</span>
        </dd>
        <dt><span jhiTranslate="departdbApp.rhAgent.decjour">Decjour</span></dt>
        <dd>
          <span>{{ rhAgent.decjour }}</span>
        </dd>
        <dt><span jhiTranslate="departdbApp.rhAgent.dateffrh">Dateffrh</span></dt>
        <dd>
          <span>{{ rhAgent.dateffrh | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="departdbApp.rhAgent.decoper">Decoper</span></dt>
        <dd>
          <span>{{ rhAgent.decoper }}</span>
        </dd>
        <dt><span jhiTranslate="departdbApp.rhAgent.deccent">Deccent</span></dt>
        <dd>
          <span>{{ rhAgent.deccent }}</span>
        </dd>
        <dt><span jhiTranslate="departdbApp.rhAgent.decagenc">Decagenc</span></dt>
        <dd>
          <span>{{ rhAgent.decagenc }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/rh-agent', rhAgent.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
